*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
.main_box{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}
div label i{
    color: white;
}
#check{
    display: none;
}
.btn1 i{
    font-size: 20px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 15px;
    color: gray;
    transition: 0.3s;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100%;
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 1);
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 8px;
    box-shadow: 0px 0px 6px  rgba(0, 0, 0, 1);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 35px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}
a span{
    color: rgb(225, 170, 41);
}
a span~span{
    color: rgb(0, 0, 0);
}
.btn2 i{
    font-size: 20px;
    position: absolute;
    left: 275px;
    top: 15px;
    color: gray;
    transition: 0.3s;
}
.menu{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 80px;
}
.menu li{
    margin: 5px 10px;
    padding: 5px;
}
.menu li a{
    margin-left: 7px;
    text-decoration: none;
    color: rgb(24, 23, 23);
}
.social_media{
    position: absolute;
    top: 85vh;
    left: -300px;
}
.social_media a i{
    margin-right: 12px;
    padding: 2px;
    color: black;
    font-size: 20px;
    /* opacity: 0.8; */
    color: rgba(0, 0, 0,0.8);
}
.menu li:hover{
    /* transition: 0.8s; */
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.27);
    background-color: white;
    /* font-size: 20px; */
    font-weight: 600;
    
}
.menu li a:hover{
    color: black;
}
.social_media a i:hover{
    color: rgba(0, 0, 0,1);
    font-size: 22px;
}
#check:checked ~.sidebar_menu{
    left:0px;
    transition: 0.5s;
}
#check:checked ~ .sidebar_menu .social_media{
    left: 30px;
}

#check:checked ~ .photo ~.btn1 label i{
    opacity: 0;
}
.btn1 i:hover{
 columns: white;
}
.btn2 i:hover{
    /* font-size: 20px; */
    font-weight: 600;
    color: white;
}
#photo1{
    background-image: url("vulture.jpg");
    background-size: cover;
    display: inline-block;
    height: 300px;
    width: 600px;

    position: absolute;
    left: 100px;
}
#photo2{
    height: 300px;
    width: 400px;
    background-image: url("leopard.jpg");
    background-size: cover;
    display: inline-block;
    

    position: absolute;
    left: 750px;
    /* top: 500px; */
}
#photo3{
    background-image: url("cat2.jpg");
    background-size: cover;
    display: inline-block;
    height: 300px;
    width: 400px;

    position: absolute;
    left: 100px;
    top: 400px;
}
#photo4{
    background-image: url("https://images.goway.com/production/hero/iStock-1470312913.jpg");
    background-size: cover;
    display: inline-block;
    height: 300px;
    width: 400px;
    position: absolute;
    left: 550px;
    top: 400px;
}
h1{
    color: rgb(124, 124, 7);
    position: fixed;
    top: 5px;
    left: 35%;
}
h1 span{
    color: rgb(22, 91, 40);
}
.photo{
    box-shadow: 4px 4px 1px black;
    border: 3px 3px 1px black;
    border-radius: 15px;
    opacity: 0.15;
    z-index: 0;
    position: absolute;
    top: 80px;
    transition-duration: 0.8s;
}
#check:checked ~ .photo{
    z-index: -1;
    /* transition: 1s;
    transition-timing-function: ease; */
}
.photo:hover{
    box-shadow: 7px 7px 3px rgb(0, 0, 0);
    /* height: 500px; */
    opacity: 1;
}
#photo1:active{
    scale: 1.2;
    z-index: 2;
}
#photo2:active{
    scale: 1.2;
    z-index: 2;
}
#photo3:active{
    scale: 1.2;
    z-index: 2;
}
#photo4:active{
    scale: 1.2;
    z-index: 2;
}